<%= render 'top' %>
<%= render 'menu' %>
<%= render 'adminmenu' %>
<%if Config.count==0 %>
    <%Config.create(:tel=>"请输入电话号码",:qq=>"输入QQ",:address=>"输入地址",:beian=>"输入备案信息",:mail=>"输入邮箱地址")%>
<%end%>
    <script>

      window.location.href=<%=Config.last.id.to_s%>+"/edit"
    </script>
<%= form_for(@config, :html => {:class=>'form-horizontal m-t',id:"signupForm",:multipart => true}) do |f| %>


    <div class="form-group">
      <label class="col-sm-3 control-label">电话：</label>
      <div class="col-sm-5">
        <%= f.text_field :tel ,class:"form-control"%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">QQ号码：</label>
      <div class="col-sm-5">
        <%= f.text_field :qq ,id:"qq",class:"form-control"%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">地址：</label>
      <div class="col-sm-5">
        <%= f.text_field :address ,class:"form-control"%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Logo图片：</label>
      <div class="col-sm-3">
        <%= f.file_field :logo ,class:"form-control"%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">务案：</label>
      <div class="col-sm-5">
        <%= f.text_field :beian ,class:"form-control"%>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">邮箱：</label>
      <div class="col-sm-5">
        <%= f.text_field :mail ,class:"form-control"%>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-3">
        <%= f.submit '提交',class:"btn btn-sucess" %>
      </div>
    </div>
    </div>
<% end %>