<%= render 'top'%>
<%= render 'adminmenu'  %>
          <div id="main">
            <div class="breadcrumb-wrapper">
              <div class="container">
                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row ">
                  <h3 class="title">产品类型</h3>
                  <br>
                  <br>
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th>产品类型ID</th>
                      <th>产品类型</th>
                     </tr>
                     </thead>
                    <tbody>
        <% @producttype.each do |f| %>
            <tr>
              <td style="text-align:center">
                <%= f.id %>
              </td>
              <td style="text-align:center">
                <%= f.name %>
              </td>
              <td>
                <%= link_to '删除', productcla_path(f), class: "fa fa-trash", method: :delete, data: { confirm: '确实要删除记录吗?' } %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to "新建", new_productcla_path,class: "btn btn-w-m btn-success mylink pull-right",'data-no-turbolink'=>true %>
      <br>
    </div>
  </div>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<%= render 'dibu' %>