
<%= render 'top' %>
<%= render 'menu' %>

<div class="content">
  <div class="container">
    <%= render 'aboutsleft'%>
    <br>
    <%= @content.content.html_safe %>
    <%= render 'aboutsdibu' %>

  </div>
</div>









<%= render 'dibu' %>
