
<%= render 'top' %>
<%= render 'menu' %>

<div class="right">
  <div class="right">
    <%= render 'aboutsleft'%>
    <br>

    <% if @content %>
        <article class="single">
        <div class="main" style="margin-left: 6%">
    <%=@content.content.html_safe %>
        </div>
        </article>
        <% else %>
        <%= render 'aboutsdibu' %>
        <% end %>



  </div>
</div>




<%= render 'dibu' %>
