
<%= render 'top' %>
<%= render 'menu' %>

<div class="content">
  <div class="container">
    <%= render 'aboutsleft'%>
    <br>

    <% if @content %>
    <%= @content.content.html_safe %>

        <% else %>
        <%= render 'aboutsdibu' %>
        <% end %>




  </div>
</div>









<%= render 'dibu' %>
