<div class="main_bg">
  <div class="main">
    <div class="sub-cate">
      <div class=" top-nav rsidebar span_1_of_left">
        <h3 class="cate">产品列表</h3>
        <ul class="menu">

          <%@pt=Productcla.all%>
          <a href="products"><h4>&nbsp;&nbsp;&nbsp;全部</h4></a>
          <%@pt.each do |pp|%>

              <li style="background: #888888;" class="item1"><a href="#"><%=pp.name %><img class="arrow-img pull-right" src="images/arrow1.png" alt=""/> </a>

                <%@sel="select * from products where productcla_id="+pp.id.to_s%>
                <%@ptsubmenu=Product.find_by_sql(@sel)%>

                <ul class="cute">

                  <%@ptsubmenu.each do|pp2|%>
                      <li class="subitem1"><a href=<%="products?ptypeid="+pp2.id.to_s%>>&nbsp;&nbsp;<%=pp2.name%></a></li>
                  <%end%>
                </ul>
          <%end%>
          </li>
        </ul>
      </div>
    </div>


<%=@cc%>
&nbsp;


    <%if @recordtype=="lists"%>

        <%if @allcontent!=nil%>
    <div style="position:relative;left:80px">
      <table>
        <%start=0%>
        <%@allcontent.each do |f|%>


         <%if start==0%>
              <tr >
          <%end%>
             <%start=start+1%>
          <td>
            <div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img style="width:230px;height:307px" src=<%=f.image.url%> alt=""/>
              <a href=<%="products?ptypeid="+f.id.to_s%>>
                <br><br>
                <h3><%=f.name%></h3>
                <div class="price1">
                  <h4>￥:<%=f.price%><span>进入</span></h4>
                </div>
              </a>

            </div>
          </td>
          <%if start==3%>
            <%start=0%>
            </tr>
          <%end%>
         <%end%>
      </table>
    </div>

        <%end%>
    <%end%>

<%if @recordtype=="sec"%>


        <div style="position:relative;left:80px">
          <table>
            <%start=0%>
            <%@allcontent.each do |f|%>


                <%if start==0%>
                    <tr >
                <%end%>
                <%start=start+1%>
                <td>
                  <div>

                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <img style="width:230px;height:307px" src=  <%="images/"+f.id.to_s+"/"+f.image_file_name%> alt=""/>
                      <br><br>
                    <a href=<%="products?ptypeid="+f.id.to_s%>>
                      <h3><%=f.name%></h3>
                      <div class="price1">
                        <h4><%=f.price%><span>进入</span></h4>
                      </div>
                    </a>
                  </div>
                </td>
                <%if start==3%>
                    <%start=0%>
                    </tr>
                <%end%>
            <%end%>
          </table>
        </div>
<%end%>







    <%if @recordtype=="one"%>
    <%if @showcontent!=nil%>
        <div style="position:relative;left:100px">
          <table>
            <tr>
              <td>
                <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img style="width:200px;height:200px" src=<%="images/"+@showcontent.id.to_s+"/"+@showcontent.image_file_name%>>
              </td>
              <td>
                <div style="position:relative;left:50px;width:500px" >
                  &nbsp;&nbsp;&nbsp;&nbsp;<%=@showcontent.content%>
                </div>
              </td>
            </tr>
            <tr>
              <td>
              </td>
              <td>
                <div style="position:relative;left:100px;">
                  <font color="red" style="font-size: 18px">
                    <br><br><br>
                    名称:&nbsp;<%=@showcontent.name%>
                    <br>
                    <br>
                    价格:&nbsp;<%=@showcontent.price%>
                    <br>
                    <br>
                    <br>
                    描述:&nbsp;<%=@showcontent.summary%>
                  </font>
                </div>
              </td>
            </tr>
          </table>
        </div>
    <%end%>
    <%end%>





















  </div>

</div>






<script type="text/javascript">
    $(function() {
        var menu_ul = $('.menu > li > ul'),
                menu_a  = $('.menu > li > a');
        menu_ul.hide();
        menu_a.click(function(e) {
            e.preventDefault();
            if(!$(this).hasClass('active')) {
                menu_a.removeClass('active');
                menu_ul.filter(':visible').slideUp('normal');
                $(this).addClass('active').next().stop(true,true).slideDown('normal');
            } else {
                $(this).removeClass('active');
                $(this).next().stop(true,true).slideUp('normal');
            }
        });

    });
</script>