
<%= render 'top' %>
<%= render 'menu' %>
<div class="right">
  <div class="right">
    <%= render 'roses/left'%>
    <br>

    <article class="single">
      <div class="entry-top"></div>

      <h4 class="entry-title">
        <span class="title">玫瑰花的作用和功效</span>
        <span class="entry-comments"><a href="#comments" title="Go to the comments" class="poshytip"></a></span>
      </h4>



      <p> <%= @content.content.html_safe %></p>



      <div class="entry-date"><span class="entry-day"></span><span class="entry-year"></span></div>
    </article>




  </div>
</div>
<%= render 'dibu' %>
