
<%= render 'top' %>
<%= render 'menu' %>
<div class="right">
  <div class="right">
    <%= render 'roses/left'%>
    <br>
    <%= @content.content.html_safe %>


  </div>
</div>
<%= render 'dibu' %>
