<<<<<<< HEAD
=======
<%= render 'top' %>
<script charset="utf-8" src="/editor/kindeditor.js"></script>
<script charset="utf-8" src="/editor/lang/zh-CN.js"></script>
<script>
  $(document).ready(function(){$(".megamenu").megamenu();});
</script>
<div class="navigation-strip">
  <div class="container">
    <h4>logo位置<i class="arrow"></i></h4>
    <div class="top-menu">
      <ul class="megamenu skyblue ">
        <li><a class="color1" href="#">主页</a>
          <!--玫瑰花的功效-->
        <li class="grid"><a class="color2" href=<%= adminwenhuas_path %>>企业文化</a>

<<<<<<< HEAD
          <li class="grid"><a class="color4" href=<%= adminroses_path %>>玫瑰花作用与效果</a>
=======



           <li class="grid"><a class="color4" href=<%= adminroses_path %>>玫瑰花作用与效果</a>
>>>>>>> 2cfde1da8f625afe70449e6ca817a73f4aa806fe

        <li><a class="color5" href="#">产品中心</a>

        <li><a class="color6" href="#">关于我们</a>

        <li><a class="color8" href="#">新闻中心</a>

      </ul>
    </div>
  </div>
</div>


<div id="main">
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 row ">
        <h3 class="title">玫瑰花的功效</h3>
        <br>
        <br>
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>标题</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <%@adminroses.each do |f| %>
              <tr>
                <td><%= f.title %></td>
                <td><%= f.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
                <td><%= link_to '编辑',edit_adminrose_path(f),class:"icon-pencil",'data-no-turbolink' => true %>&nbsp;<%= link_to '删除',f, method: :delete, data: { confirm: 'Are you sure?' },class:"icon-trash" %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
        <%= link_to '创建玫瑰花的功效',new_adminrose_path,class:"btn-small btn-color btn-pad pull-right",'data-no-turbolink' => true %>
      </div>
    </div>
  </div>
</div>
<%= render 'dibu' %>
>>>>>>> b370e51f55c6b65c564466fb10b3e9d6c7947f15
