
<%= render 'form'%>
<h3>玫瑰花的功效</h3>
<%= form_for @adminrose do |f| %>

      <span>标题</span>
<%= f.text_field :title %>
    <br>
    <span>内容</span>
    <%= f.kindeditor :content %>
    <div class="">
<%= f.submit'确认',class:'color1' %>
    </div>
<% end %>
